[Desktop Entry]
Name=Cantalus
Name[ast]=Cantalus
Name[bs]=Cantalus
Name[ca]=Cantalus
Name[ca@valencia]=Cantalus
Name[cs]=Cantalus
Name[da]=Cantalus
Name[de]=Cantalus
Name[el]=Cantalus
Name[en_GB]=Cantalus
Name[es]=Cántalo
Name[et]=Cantalus
Name[eu]=Cantalus
Name[fa]=طالبی
Name[fi]=Cantalus
Name[fr]=Cantalus
Name[ga]=Cantalus
Name[gl]=Cantalus
Name[hu]=Cantalus
Name[is]=Cantalus
Name[it]=Cantalus
Name[kk]=Кантал
Name[km]=Cantalus
Name[ko]=칸탈루스
Name[lt]=Cantalus
Name[mr]=कॅंटलस
Name[nb]=Cantalus
Name[nds]=Cantalus
Name[nl]=Cantalus
Name[nn]=Cantalus
Name[pl]=Cantalus
Name[pt]=Cantalus
Name[pt_BR]=Cantalus
Name[ro]=Cantalus
Name[ru]=Канталус
Name[sk]=Cantalus
Name[sl]=Cantalus
Name[sr]=Цанталус
Name[tr]=Kantalus
Name[uk]=Кантал
Name[x-test]=xxCantalusxx
Name[zh_CN]=小茴香
X-KDE-PluginInfo-Name=Cantalus
X-KDE-PluginInfo-Author=Khang Teo
X-KDE-PluginInfo-Email=dangchankhang@gmail.com
X-KDE-PluginInfo-License=LGPLv3
