[Desktop Entry]
Type=Application
Version=1.0
Name=Install Linux Neoros
Name[de]=Installieren Sie Linux Neoros
Name[fr]=Installer Linux Neoros
Name[zh]=安装 Linux Neoros
Name[ja]=Linux Neoros をインストールする
Name[ko]=리눅스 네오로스 설치
Name[ru]=Установить линукс Неорос
Name[es]=Instalar Linux Neoros
Name[sv]=Installera Linux Neoros
Name[th]=ติดตั้ง Linux Neoros
Name[tr]=Linux Neoros'u yükleyin
Name[uk]=Встановіть Linux Neoros
Name[vi]=Cài đặt Linux Neoros
GenericName=Live Installer
GenericName[de]=Live-Installer
GenericName[fr]=Installateur en direct
GenericName[zh]=实时安装程序
GenericName[ja]=ライブインストーラー
GenericName[ko]=라이브 설치 프로그램
GenericName[ru]=Живой установщик
GenericName[es]=Instalador en vivo
GenericName[sv]=Live Installer
GenericName[th]=โปรแกรมติดตั้งสด
GenericName[tr]=Canlı Yükleyici
GenericName[uk]=Live Installer
GenericName[vi]=Trình cài đặt trực tiếp
Comment=Install Linux Neoros x86_64 to disk
GenericName[de]=Installieren Sie Linux Neoros x86_64 auf der Festplatte
GenericName[fr]=Installer Linux Neoros x86_64 sur le disque
GenericName[zh]=将 Linux Neoros x86_64 安装到磁盘
GenericName[ja]=Linux Neoros x86_64 をディスクにインストールする
GenericName[ko]=디스크에 Linux Neoros x86_64 설치라이브 설치 프로그램
GenericName[ru]=Установите Linux Neoros x86_64 на диск
GenericName[es]=Instale Linux Neoros x86_64 en el disco
GenericName[sv]=Installera Linux Neoros x86_64 på disken
GenericName[th]=ติดตั้ง Linux Neoros x86_64 ลงในดิสก์
GenericName[tr]=Diske Linux Neoros x86_64 yükleyin
GenericName[uk]=Встановіть Linux Neoros x86_64 на диск
GenericName[vi]=Cài đặt Linux Neoros x86_64 vào đĩa
Exec=/usr/bin/calamares_polkit %f
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
